@{
    ViewBag.Title = "À propos de";
}
<h2>@ViewBag.Title.</h2>
<p>Dans le cadre de l'UE TPGP, nous vous proposons un site d'organisation de speed dating.</p>
<br/>
<p>Nous sommes le binome Mathilde Verrier et Thomas Aubry</p>
