@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<address>
    <strong>Mathilde Verrier</strong>   <a href="mailto:verrier.mathilde92@gmail.com">verrier.mathilde92@gmail.com</a><br />
    <strong>Thomas Aubry</strong> <a href="mailto:aubry.ta@gmail.com">aubry.ta@gmail.com</a>
</address>